
body {
    background-color: lightBlue;
}
#clickable {
	width: 600px;
	margin: 50px auto 20px;
}

.reset {
	float: right;
}

#sketchpad{
	width: 600px;
	height:600px;
	margin:auto;
	border: 1px solid black;

}

.gridwrapper {
	width: 600px;
	height:600px;
	/*border: 1px solid black;*/
	background-color: white;
}
.row {
     color: #888888; 
     opacity: .5; 
     /*border: 1px solid black;*/
    
}

.column {
	
	height: 100%;
	/*border: 1px solid black;*/
	display: inline-block;
	/*float: right;*/
}